body {
    
}
h1 {
    margin-top: 20px;
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

h2 , p {
    margin-top: 20px;
}

.main-div {
    margin: 20px;
}

iframe {
    margin: 40px;
}

.container {
    width: 100%;
    max-width: 1000px;
}

.switch-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.switch {
    display: flex;
}

.btn {
    margin: 0 5px; /* Adjust margin as needed */
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 (height / width * 100%) */
    margin: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-bg-dark {
    padding-left: 0;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-custom {
    background-color: #240A34;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .btn-custom {
        width: 90%;
    }
}

.news-bar {
    overflow: hidden;
    white-space: nowrap;
    background: #000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
.news-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
